/* Estilo para el body */
body{
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilizar Imagenes */
#img1{
  display: inline;
  width: 200px;
  margin: 25px 0 0 25px;

}

#img2{
  display: block;
  width: 500px;
  margin: 0 0 0 25px;
}

h1{
  color: white;
  margin: 0 0 0 10px;
  display: inline-block;
}
p{
  color: green;
  margin-left: 25px;
}

a{
  color: white;
  margin: 0 0 0 25px;
}

/* Agergando estilo al final del archivo para comprobar los cambios que ocurren en la herencia */

body{
  color: red;
}

/* Lo que ocurre es que ahora este cambiará el color debido a que se le otorga prioridad a esta regla */
p {
    color: white !important;
}

/* A pesar que se le cambia el color, este no cambairá */
p {
    color: blue;
}

/* Pero si este se le agrega nuevamente a los selectores, si cambiara su color */
body p {
    color: green !important;
}


